@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap");

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root,
.App,
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: #424242;
}

.mapboxgl-popup-content {
  padding: 1rem;
  margin: 0;
}
.mapboxgl-popup-content > * {
  margin: 0 0 0.5rem;
  padding: 0;
}
.mapboxgl-popup-content p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.mapboxgl-popup-content p b {
  font-size: 1.6rem;
  color: #212121;
  padding: 0 5px;
}
.mapboxgl-popup-content img {
  width: 4rem;
  height: 4rem;
}

